{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "class-methods-use-this": "off",
    "no-new": "off",
    "no-param-reassign": ["error", { "props": false }],
    "padded-blocks": "off"
  }
}
